#
# Standard Maven .gitignore
#
DnsClient/target/
DnsClient/pom.xml.tag
DnsClient/pom.xml.releaseBackup
DnsClient/pom.xml.versionsBackup
DnsClient/pom.xml.next
DnsClient/release.properties
DnsClient/dependency-reduced-pom.xml
DnsClient/buildNumber.properties
DnsClient/.mvn/timing.properties

#
# IntelliJ
#
DnsClient/*.iml
DnsClient/.idea/*
DnsClient/!.idea/runConfigurations/

#
# Visual Studio Code
#
DnsClient/.settings/
DnsClient/.classpath
DnsClient/.project
.vscode/
