#
# Standard Maven .gitignore
#
DnsClient/target/
DnsClient/pom.xml.tag
DnsClient/pom.xml.releaseBackup
DnsClient/pom.xml.versionsBackup
DnsClient/pom.xml.next
DnsClient/release.properties
DnsClient/dependency-reduced-pom.xml
DnsClient/buildNumber.properties
DnsClient/.mvn/timing.properties

#
# IntelliJ
#
DnsClient/*.iml
DnsClient/.idea/*
DnsClient/!.idea/runConfigurations/

#
# Visual Studio Code
#
DnsClient/.settings/
DnsClient/.classpath
DnsClient/.project
.vscode/


#
# Report tex
#
reports/experiment_2/*.aux
reports/experiment_2/.aux
reports/experiment_2/*.fdb_latexmk
reports/experiment_2/*.toc
reports/experiment_2/*.fls
reports/experiment_2/*.lof
reports/experiment_2/*.log
reports/experiment_2/*.lot
reports/experiment_2/*.out
reports/experiment_2/report.synctex.gz
